@model Final.Models.Proveedor

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estos datos desea eliminarlo?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.repartidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.repartidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo_distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo_distrito)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cod_provedor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a listar</a>
    </form>
</div>
