@model Final.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.repartidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.repartidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo_distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo_distrito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cod_provedor">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
