@model IEnumerable<Final.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.repartidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo_distrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.razonsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repartidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_distrito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cod_provedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.cod_provedor">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.cod_provedor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
